body{
    font-family: 'Montserrat', sans-serif;  
    margin: 0;
    padding: 0;  
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 60px;
    color: #000000;
}
h2{
    font-size: 45px;
    color: #000000;
}
.btn{
    padding: 12px 25px;
    background-color: red;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.hero-banner{
    background-image: url(images/donation10.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
}
.banner-content{
    text-align: center;
    padding: 75px 0;
}
.banner-content h1{
    margin: 0;
    font-size: 60px;
    color: #000000;
}
.banner-content p{
    margin: 1% 20%;
    font-size: 14px;
    color: black;
    margin-bottom: 25px;
}
.donation{
    padding: 100px 0;
}
.donate-area{
    text-align: center;
}
.donate-heading{
    margin: 0 20%;
}
.donate-amounts{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    
}
.donate-item{
    font-size: 35px;
    padding: 35px 15px;
    background-color: beige;
    border-radius: 5px;
    margin: 5px;
}
.donate-item-active{
    font-size: 35px;
    padding: 35px 15px;
    background-color: bisque;
    border: 2px solid brown;
    border-radius: 5px;
    margin: 5px;
    
}
hr{
    width: 50%;
    margin: 15px auto 35px;

}
.donate-plan{
    text-align: center;
    padding: 75px 0;
}
.donate-plans{
    display: flex;
    justify-content: center;
}
.plan-item{
    margin: 10px;
    padding: 40px 25px;
    background-color: antiquewhite;
    text-align: left;
    border-radius: 15px;
}
.icons{
    width: 50px;
    height: 50px;
}